html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  #nav-title {
  font-weight: bold;
  padding: 1rem;
  border-bottom: solid 1px black;
  }
  
  #navbar {
    display: inline-block;
    position: sticky;
    top: 0;
    /* width: 250px; */
    height: 100%;
    border-right: solid 3px darkgray;
  }
  
  .nav-link {
    display: block;
    border-bottom: solid 1px black;
    margin: 0;
    padding: 1rem;
    text-decoration: none;
    color: black;
  }
  
  main {
    display: inline-block;
    width: 70%;
    position: absolute;
    top: -300 px;
    left: 500 px;
    padding: 1.5rem;
  }
  
  main-section {
  display: block;
  border: solid 2px slateblue;
  }
  
  header {
    font-size: 1.5rem;
    margin-top: 2.25rem;
  }
  
  code {
    display: block;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 7px;
    margin: 10px;
  }
  
  @media (max-width: 480px) {
    #nav-bar {
      width: 15%;
    }
  
    #main-doc {
      width: 85%;
    }
  }
  
  @media (min-width: 481px) {
  min-width: 200px;
  }